body {
  background-color: rgb(36, 36, 36);
}
.navbar {
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  box-sizing: border-box;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 25px;
}

.left-nav,
.right-nav {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  font-family: "Monaco", monospace;
  padding: 8px 12px;
  transition: background 0.2s;
}

.left-nav:hover,
.right-nav:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.logo img {
  color: white;
  width: 60px;
  height: auto;
}
