main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  margin-bottom: 60px;
}

.main-blog {
  justify-content: flex-start;
  height: fit-content;
}

.middle-name:hover {
  transition: 200ms;
  color: rgb(100, 100, 100);
  cursor: default;
}

.rounded-square {
  width: 1100px;
  height: 500px;
  background-color: rgb(46, 46, 46);
  border-radius: 30px;
  box-shadow: 0 15px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-blog > .rounded-square {
  margin: 100px;
  margin-top: 18vh;
}

.rounded-square-children {
  margin: 100px;
  width: 1100px;
  height: 500px;
  background-color: rgb(46, 46, 46);
  border-radius: 30px;
  box-shadow: 0 15px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-button {
  color: white;
  text-decoration: none;
  position: fixed;
  width: auto;
  background: none;
  top: 20px;
  left: 30px;
  right: 30px;
  transform: none;
}

.back-button a {
  color: white;
  padding: 3px 5px;
  background: none;
  display: inline-block;
  transition: background 0.2s;
}

.mptext {
  font-family: "Monaco", monospace;
  color: white;
}

.rounded-square > .mptext {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 100px;
}

.desctext,
.hplist {
  margin-top: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  gap: 80px;
  align-items: center;
  font-size: 18px;
}

.desctext {
  display: block;
}

.hplist > .btext {
  font-style: italic;
}

.hplist a {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  transition: 200ms;
  background-color: rgb(116, 116, 116);
}

body {
  background-color: rgb(36, 36, 36);
  font-family: "Monaco", monospace;
  color: white;
}
.footer {
  margin-top: -50px;
  width: 100vw;
  height: 30px;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
